@inject ToastService ToastService

<div class="notificationModal">
    @foreach (var n in ToastService.Notifications)
    {
        <div class="toast-notification @n.Type">
            <span>@n.Message</span>
            <button class="btn-close" @onclick="@(() => Remove(n.Id))">×</button>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        ToastService.OnChange += StateHasChanged;
    }

    private void Remove(Guid id)
    {
        ToastService.RemoveNotification(id);
    }

    public void Dispose()
    {
        ToastService.OnChange -= StateHasChanged;
    }
}
