@page "/admin"
@layout LandingLayout
@inherits ProtectedPageBase

<PageTitle>Admin</PageTitle>


<div class="page">
    <!--Header Section-->
    <div class="header d-block d-md-flex flex-md-row align-items-center justify-content-between mb-5">
        <div>
            <h4 class="m-0 fw-bold">Pastor & Admin Management</h4>
            <p class="m-0 c2" style="font-size: 14px">Manage your church leadership and administrative staff.</p>
        </div>

        <div>
            <a href="add-user" class="btn btn-primary p-2 text-white link">Add Admin</a>
        </div>
    </div>

    <!--Table Section-->
    <div class="card w-100 mb-3 cards">

        <!--Search Section-->
        <div class="position-relative mb-4">
            <i class="bi bi-search position-absolute c2" style="top: .5rem; left: .75rem; font-size: 18px;"></i>
            <input type="text" class="form-control border search" placeholder="Search by name, email, or role..."/>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="thead">Name</th>
                        <th class="thead">Email</th>
                        <th class="thead">Role</th>
                        <th class="thead">Phone</th>
                        <th class="thead">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < 4; i++)
                    {
                        <tr class="table-row">
                            <td class="table-cell" style="font-weight:500;">Pastor John Smith</td>
                            <td class="table-cell c2">john.smith@church.org</td>
                            <td class="table-cell c2">Senior Pastor</td>
                            <td class="table-cell c2">123-456-7890</td>
                            <td class="table-cell d-flex gap-2" style="padding: 24px 24px; border-bottom: none;">
                                <!--Edit-->
                                <div class="d-flex align-items-center justify-content-center gap-1w-auto border" style="border-radius: 10px; padding: 5px 12px;">
                                    <a href="" class="text-decoration-none" style="font-size: 13px;"><span><i class="bi bi-pencil-square"></i></span> Edit</a>
                                </div>

                                <!--Delete-->
                                <button class="btn btn-danger text-white" style="border-radius: 10px; padding: 5px 12px; font-size:13px;"><span><i class="bi bi-trash text-white"></i></span>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>