* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
}


.c2 {
    color: #4b5563;
}


a {
    color: rgb(75 85 99);
}

.searchLayout{
    display: grid;
    grid-template-columns: 1fr 30%;
}

.searchBtn{
    display: flex;
    gap: .4rem;
}


.link {
    cursor: pointer;
}

.cards {
    border-radius: .75rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    border: solid .3px rgb(128, 128, 128, 0.08);
    padding: 24px;
}

    .cards:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.search {
    padding: .5rem .75rem;
    padding-left: 2.5rem;
}

    .search::placeholder {
        color: #4b5563;
    }

.events{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.pill {
    background-color: #e2fbe8;
    padding: 4px;
    border-radius:10px;
    font-size:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pill2 {
    background-color: #f3f4f6;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .page {
        display: block;
    }

    .header a {
        width: 100%;
        margin-top: 1rem;
    }

    .cards{
        padding: 0;
    }

    .searchLayout{
        display: block;
    }

    .searchBtn{
        display:flex;
        flex-direction: column;
        gap: .3rem;
        margin-top: .3rem;
    }

    .searchBtn button{
        padding: 8px;
    }

    .events{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
