* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
}

.sub-page {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}


.c2 {
    color: #4b5563;
}

a {
    color: rgb(75 85 99);
}

.btns{
    width:150px;
}

.weblink{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000000;
    font-weight:bold;
}

    .weblink:hover {
        color: #0d6efd;
    }

.searchLayout{
    display: grid;
    grid-template-columns: 1fr 30%;
}

.searchBtn{
    display: flex;
    gap: .4rem;
}


.link {
    cursor: pointer;
}

.cards {
    height: 100%;
    overflow-y: auto;
    border-radius: .75rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    border: solid .3px rgb(128, 128, 128, 0.08);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

    .cards:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.hide{
    display: none;
}

.search {
    padding: .5rem .75rem;
    padding-left: 2.5rem;
}

    .search::placeholder {
        color: #4b5563;
    }

.file{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.files {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
}

/*.text {
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
}*/

/* Fix for flex child shrinking to allow ellipsis truncation */
/*.file-info {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;*/ /* Very important to allow shrinking */
/*}*/

.logoutModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .page {
        display: block;
    }

    .header a {
        width: 100%;
        margin-top: 1rem;
    }

    .cards{
        padding: 0;
    }

    .searchLayout{
        display: block;
    }

    .searchBtn{
        display:flex;
        flex-direction: column;
        gap: .3rem;
        margin-top: .3rem;
    }

    .files {
        grid-template-columns: repeat(1,1fr);
    }

    .searchBtn button{
        padding: 8px;
    }

    .file{
        display: block;
    }
}
