* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
}

.pages{
    display:flex;
    height:100%;
    width: 100%;
    flex-direction: column;
}

.addEvents{
    background-color: #FFF;
    max-height: calc(100vh - 15vh);
    overflow: auto;
    padding: 1.5rem;
    width: 600px;
    border-radius:25px;
}

.addAttendance {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
/*    display: flex;
    flex-direction: column;*/
display: grid;
grid-template-rows: auto 1fr auto;
    width: 600px;
    padding: 2rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 25px;
    max-height: calc(100vh - 10vh);
    overflow-y: auto;
    transition: all 0.5s ease;
    min-height: 600px;
}

.addAttendances {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        display: flex;
    flex-direction: column;
    width: 600px;
    padding: 2rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 25px;
    max-height: calc(100vh - 10vh);
    overflow-y: auto;
    transition: all 0.5s ease;
}

.tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.attBtn {
    /*    border: solid 2px rgb(13,110,253);
    color: rgb(13,110,253);*/
    border: solid 2px #1b6ec2;
    color: #1b6ec2;
    padding: .25rem 1rem;
    border-radius: 25px;
}

.s {
    border: solid 2px #1b6ec2;
    color: #1b6ec2;
    padding: 5px 1rem;
    border-radius: 25px;
}

    .attBtn:focus {
        outline: none;
        box-shadow: 0 0 0 2px #4a90e2; /* Adds a custom blue shadow */
    }

.header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    
}

.lcontainer{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 2rem;
}

textarea{
    resize: none;
    overflow: auto;
    max-height:150px;
}

.cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
}

.meet{
    position: relative;
}

.category{
    position: absolute;
    top: 100%;
    left: 0;
}

.type {
    border: 2px solid #dee2e6;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-size: 1rem;
}

.type:focus{
    box-shadow: none;
}


    .active i{
        color: #1b6ec2;
    }


.active {
    border: solid 2px #1b6ec2;
    color: #1b6ec2;
    background-color: rgb(242, 244, 246);
}

.l1 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1b6ec2;
}

.l2 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
}

.l3 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #88245f
}

.l4 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #c78600;
}

.addEventModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}



.hover:hover {
    color: #1b6ec2;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.table-container {
    overflow-x: auto;
}


.thead {
    background-color: rgb(249,250,251);
    text-align: left;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgb(107,114,128);
    padding: 1rem 1.5rem;
    border: none;
    text-wrap: nowrap;
}

.table-row {
    border-bottom-width: 1px;
    border-color: rgb(229,231,235);
    vertical-align: middle;
}

.table-cell {
    white-space: nowrap;
    padding: 24px;
    font-size: .875rem;
    line-height: 1.25rem;
}

.addEvent {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 2rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    cursor: pointer;
}


.userFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

.att{
    display: flex;
    flex-direction: column;
    gap:1rem
}

.input{
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items:center;
}

.inputD {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
}

.input .title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    padding: 0;
    margin: 0;
}



.input input{
    padding: 0;
    margin: 0;
}

.input .dates{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.input .time {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.input .date{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:1rem;
    align-items: center;

}

.input .title i, .input .title p, .input .title label {
    color: gray;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.input p {
    font-size: 14px;
}

.iconText{
    display: grid;
    grid-template-columns: 25px 1fr;
    margin-top: 1.5rem;
    gap:1rem;
}

.inputTime {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
}

    .inputTime .title {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .5rem;
        padding: 0;
        margin: 0;
    }

        .inputTime .title i, .inputTime .title p {
            color: gray;
            font-size: 16px;
            font-weight: 500;
            padding: 0;
            margin: 0;
        }

    .inputTime p {
        font-size: 14px;
    }

    .inputTime .date {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 1rem;
        align-items: center;
    }

    .inputTime .time {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .inputTime .dates {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

.fs{
    color: #272626;
}



.options{
    position: relative;
}

.optionIcon:hover {
    color: #1b6ec2;
    font-size: 18px;
}

.options-child {
    position: absolute;
    border: 1px solid #00000026;
    border-radius: 5px;
    right: 0;
    box-shadow: 10px 10px 8px rgba(0,0,0,0,.25);
    background-color: #FFFFFF;
}

.fsx{
    font-size: 15px;
    font-weight:600;
    padding: .5rem 1rem;
}

.fsx:hover {
    background-color: #00000021;
}


.c2 {
    color: #4b5563;
}


a {
    color: rgb(75 85 99);
}

.searchLayout {
    display: grid;
    grid-template-columns: 1fr 30%;
}

.searchBtn {
    display: flex;
    gap: .4rem;
}


.link {
    cursor: pointer;
}
 
.cards {
    border-radius: .75rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    border: solid .3px rgb(128, 128, 128, 0.08);
    padding: 24px;
    max-height: calc(100vh - 20vh);
    background-color: #FFF;
    overflow-y: auto;
    width: 800px;
}

    .cards:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.search {
    padding: .5rem .75rem;
    padding-left: 2.5rem;
}

    .search::placeholder {
        color: #4b5563;
    }

.events {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.pill {
    background-color: #1b6ec2;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.pill2 {
    background-color: green;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.pill3 {
    background-color: #88245f;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.pill4 {
    background-color: #c78600;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.pill5 {
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ced4da;
    cursor: default;
    text-wrap: nowrap;
    width:100%;
}

.pill6 {
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ced4da;
    cursor: default;
    text-wrap: nowrap;
    width: auto;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f9f9f9;
    border-radius: 12px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background: #1976d2;
    color: white;
    gap: 10px;
    border-radius: 12px 12px 0 0;

}

.icon {
    font-weight: 300; /* may help slightly */
    -webkit-text-stroke: 1px white; /* outline to make it appear thicker */
}

.calendar-week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    border-top: 1px solid #ccc;
    border-radius: 0 0 25px 25px;
}

.day-name {
    font-weight: bold;
    text-align: center;
    background: #e0e0e0;
    padding: 10px;
    border: 1px solid #ccc;
}

.day-cell {
    position: relative;
    border: 1px solid #ccc;
    padding: .5rem;
}

    .day-cell.empty {
        background: #f0f0f0;
    }

.day {
    background-color: rgb(235 245 255);
}

.day-number {
    position:absolute;
    font-weight: bold;
    font-size: 14px;
    z-index:2000;
}

.day-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: .25rem;
    padding: .5rem;
    overflow: auto;
}

.event-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #fff3cd;
    border-bottom: 1px solid #ccc;
}

    .event-form input {
        padding: 5px;
    }

.event-label {
    margin-top: 5px;
    background: #4caf50;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

button{
    cursor: pointer;
}

.today {
    color: #1976d2;
    background: white;
    padding: 0 1rem;
    border-radius: 6px;
    font-weight: 600;
}

.viewMod{
    max-height: calc(100vh - 40vh);
}

.filterTime{
    display:flex;
    width: fit-content;
    gap: 1rem;
    margin: .5rem 0 0 .25rem;
    align-items: center;
}

.filterTime p{
    text-wrap: nowrap;
}

    .filterTime select {
        padding-left: 1rem;
        padding-right: 2rem;
    }

.inputs{
    display: flex;
    flex-direction: column;
}

.notif{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.email{
    display: flex;
    position: relative;
}

.email .add{
    position:absolute;
    top: 50%;
    right:0;
    transform: translate(0,-50%);
    padding:.5rem;
}

.emails {
    display: flex;
    position: relative;
}

    .emails .remove{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0,-15%);
        margin: 0;
        padding: 0;
    }

    .addedEmail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

        .addedEmail > * {
            min-width: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

.visitor{
    position:relative;
    display: flex;
    width: fit-content;
}

    .removes {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0,-50%);
        margin: 0;
        padding: 0;
    }


.attendee {
    overflow-y: auto;
}

.t{
    color: #898989;
}

@media (max-width: 768px) {
    .pages{
        display: block;
    }

    .header a {
        width: 100%;
        margin-top: 1rem;
    }

    .cards {
        padding: 0;
    }

    .searchLayout {
        display: block;
    }

    .searchBtn {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        margin-top: .3rem;
    }

        .searchBtn button {
            padding: 8px;
        }

    .events {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
